:root {
    --background-color: #121212;
    --container-background: #1e1e1e;
    --highlight-color: #a27dc9;
    --text-color: #e0e0e0;

    --textarea-color: #e0e0e0;
    --textarea-background: #2a2a2a;
    
    --button-background: #5a5a5a;
    --button-hover-background: #7a7a7a;
    --save-hover-background: #ccd5ae;
    --copy-hover-background: #89c2d9;

    --edit-icon: #e0e0e0;
    
    --list-item-background: #2a2a2a;
    --list-item-hover-background: #3c3c3c;
    
    --search-bar-background: #2a2a2a;
    --search-bar-color: #e0e0e0;
    --search-bar-border: #555;
    
    --scrollbar-track: #1e1e1e;
    --scrollbar-thumb: #4a4a4a;
    --scrollbar-thumb-hover: #a27dc9;
    
    --link-color: #a27dc9;
    --link-hover-color: #a27dc9;
    
    --text-input-background: #6a6a6a;
    --add-script-background: #2a2a2a;
    --add-script-button-background: #5a5a5a;
    --add-script-button-hover-background: #ccd5ae;
    
    --edit-script-background: #2a2a2a;
    
    --alert-color: #ccd5ae;
    
    --delete-button-background: #ef5350;
    --delete-button-hover: #e53935;
    
    --message-color: #e0e0e0;
    --message-background: rgba(0, 0, 0, 0.7);
    
    --version-color: #e0e0e0;
    
    --github-icon-color: #ffffff;
    --github-icon-background: #444;
    --github-icon-background-hover: #a27dc9;
    --github-icon-hover: #a27dc9;
}